/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { KomboCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { KomboError } from "../models/errors/komboerror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Update order result
 *
 * @remarks
 * Updates an assessment or a background check order result.
 *
 * ### Example Request Body
 *
 * ```json
 * {
 *   "status": "COMPLETED",
 *   "score": 90,
 *   "max_score": 100,
 *   "result_url": "https://example.com",
 *   "completed_at": "2023-04-04T00:00:00.000Z",
 *   "attributes": [
 *     {
 *       "type": "TEXT",
 *       "label": "Role fit",
 *       "value": "Excellent"
 *     },
 *     {
 *       "type": "SUB_RESULT",
 *       "id": "<YOUR_INTERNAL_ID_OF_THE_TEST>",
 *       "label": "Personality test",
 *       "score": {
 *         "value": 97,
 *         "max": 100
 *       },
 *       "status": "COMPLETED"
 *     }
 *   ],
 *   "attachments": [
 *     {
 *       "name": "Assessment Report.pdf",
 *       "data": "SGkgdGhlcmUsIEtvbWJvIGlzIGN1cnJlbnRseSBoaXJpbmcgZW5naW5lZXJzIHRoYXQgbG92ZSB0byB3b3JrIG9uIGRldmVsb3BlciBwcm9kdWN0cy4=",
 *       "content_type": "application/pdf"
 *     }
 *   ]
 * }
 * ```
 */
export function assessmentUpdateOrderResult(
  client: KomboCore,
  request: operations.PutAssessmentOrdersAssessmentOrderIdResultRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.PutAssessmentOrdersAssessmentOrderIdResultPositiveResponse,
    | errors.KomboAtsError
    | KomboError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: KomboCore,
  request: operations.PutAssessmentOrdersAssessmentOrderIdResultRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.PutAssessmentOrdersAssessmentOrderIdResultPositiveResponse,
      | errors.KomboAtsError
      | KomboError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations
        .PutAssessmentOrdersAssessmentOrderIdResultRequest$outboundSchema.parse(
          value,
        ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON(
    "body",
    payload.PutAssessmentOrdersAssessmentOrderIdResultRequestBody,
    { explode: true },
  );

  const pathParams = {
    assessment_order_id: encodeSimple(
      "assessment_order_id",
      payload.assessment_order_id,
      { explode: false, charEncoding: "percent" },
    ),
  };

  const path = pathToFunc("/assessment/orders/{assessment_order_id}/result")(
    pathParams,
  );

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
    "X-Integration-Id": encodeSimple(
      "X-Integration-Id",
      client._options.integration_id,
      { explode: false, charEncoding: "none" },
    ),
  }));

  const secConfig = await extractSecurity(client._options.api_key);
  const securityInput = secConfig == null ? {} : { api_key: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    base_url: options?.server_url ?? client._baseURL ?? "",
    operation_id: "PutAssessmentOrdersAssessmentOrderIdResult",
    o_auth2_scopes: null,

    resolved_security: requestSecurity,

    security_source: client._options.api_key,
    retry_config: options?.retries
      || client._options.retry_config
      || { strategy: "none" },
    retry_codes: options?.retry_codes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "PUT",
    baseURL: options?.server_url,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.user_agent,
    timeout_ms: options?.timeout_ms || client._options.timeout_ms || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["default"],
    retryConfig: context.retry_config,
    retryCodes: context.retry_codes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    models.PutAssessmentOrdersAssessmentOrderIdResultPositiveResponse,
    | errors.KomboAtsError
    | KomboError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      models
        .PutAssessmentOrdersAssessmentOrderIdResultPositiveResponse$inboundSchema,
    ),
    M.jsonErr("default", errors.KomboAtsError$inboundSchema),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
