/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { KomboCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { KomboError } from "../models/errors/komboerror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as models from "../models/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Create candidate
 *
 * @remarks
 * Create a new candidate and application for the specified job.
 *
 * <Warning>
 *       **We recommend using the [Create application](/ats/v1/post-jobs-job-id-applications) endpoint instead.**
 *
 *       We realized that in practice it was always more about creating _applications_ instead of _candidates_, so we created a new, more aptly named one that you should use instead: [Create application](/ats/v1/post-jobs-job-id-applications)
 *
 *       Using it also has the benefit that we return the newly created applicant at the root level, so you can easily store its ID.
 *     </Warning>
 *
 * <Note>
 *   This endpoint requires the permission **Create applications and candidates** to be enabled in [your scope config](/scopes).
 * </Note>
 *
 * ### Example Request Body
 *
 * ```json
 * {
 *   "candidate": {
 *     "first_name": "Frank",
 *     "last_name": "Doe",
 *     "company": "Acme Inc.",
 *     "title": "Head of Integrations",
 *     "email_address": "frank.doe@example.com",
 *     "phone_number": "+1-541-754-3010",
 *     "gender": "MALE",
 *     "salary_expectations": {
 *       "amount": 100000,
 *       "period": "YEAR"
 *     },
 *     "availability_date": "2021-01-01",
 *     "location": {
 *       "city": "New York",
 *       "country": "US",
 *       "state": "NY"
 *     },
 *     "social_links": [
 *       {
 *         "url": "https://www.linkedin.com/in/frank-doe-123456789/"
 *       },
 *       {
 *         "url": "https://twitter.com/frankdoe"
 *       }
 *     ]
 *   },
 *   "application": {
 *     "job_id": "BDpgnpZ148nrGh4mYHNxJBgx",
 *     "stage_id": "8x3YKRDcuRnwShdh96ShBNn1"
 *   },
 *   "attachments": [
 *     {
 *       "name": "Frank Doe CV.txt",
 *       "data": "SGkgdGhlcmUsIEtvbWJvIGlzIGN1cnJlbnRseSBoaXJpbmcgZW5naW5lZXJzIHRoYXQgbG92ZSB0byB3b3JrIG9uIGRldmVsb3BlciBwcm9kdWN0cy4=",
 *       "type": "CV",
 *       "content_type": "text/plain"
 *     }
 *   ],
 *   "screening_question_answers": [
 *     {
 *       "question_id": "3phFBNXRweGnDmsU9o2vdPuQ",
 *       "answer": "Yes"
 *     },
 *     {
 *       "question_id": "EYJjhMQT3LtVKXnTbnRT8s6U",
 *       "answer": [
 *         "GUzE666zfyjeoCJX6A8n7wh6",
 *         "5WPHzzKAv8cx97KtHRUV96U8",
 *         "7yZfKGzWigXxxRTygqAfHvyE"
 *       ]
 *     }
 *   ],
 *   "remote_fields": {}
 * }
 * ```
 */
export function atsCreateCandidate(
  client: KomboCore,
  request: models.PostAtsCandidatesRequestBody,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.PostAtsCandidatesPositiveResponse,
    | errors.KomboAtsError
    | KomboError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: KomboCore,
  request: models.PostAtsCandidatesRequestBody,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.PostAtsCandidatesPositiveResponse,
      | errors.KomboAtsError
      | KomboError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => models.PostAtsCandidatesRequestBody$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/ats/candidates")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
    "X-Integration-Id": encodeSimple(
      "X-Integration-Id",
      client._options.integration_id,
      { explode: false, charEncoding: "none" },
    ),
  }));

  const secConfig = await extractSecurity(client._options.api_key);
  const securityInput = secConfig == null ? {} : { api_key: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    base_url: options?.server_url ?? client._baseURL ?? "",
    operation_id: "PostAtsCandidates",
    o_auth2_scopes: null,

    resolved_security: requestSecurity,

    security_source: client._options.api_key,
    retry_config: options?.retries
      || client._options.retry_config
      || { strategy: "none" },
    retry_codes: options?.retry_codes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.server_url,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.user_agent,
    timeout_ms: options?.timeout_ms || client._options.timeout_ms || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["default"],
    retryConfig: context.retry_config,
    retryCodes: context.retry_codes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    models.PostAtsCandidatesPositiveResponse,
    | errors.KomboAtsError
    | KomboError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, models.PostAtsCandidatesPositiveResponse$inboundSchema),
    M.jsonErr("default", errors.KomboAtsError$inboundSchema),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
