/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { KomboCore } from "../core.js";
import { encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { KomboError } from "../models/errors/komboerror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get integration by token
 *
 * @remarks
 * Use this endpoint with the token you get from the connection flow to retrieve information about the created integration.
 *
 *   It works in a similar way as the OAuth2 code flow to securely retrieve information and connect the integration to your user.
 *
 * > Check out [our full guide](/connect/embedded-flow) for more details about implementing the connection flow into your app.
 *
 * This endpoint is used to ensure users can't trick your system connecting their
 * account in your system to another customers integration. You don't get the integration ID
 * from the `showKomboConnect(link)` function but only the short lived token used
 * for this endpoint so that users can't send you arbitrary data that you would put
 * into your system.
 */
export function connectGetIntegrationByToken(
  client: KomboCore,
  request: operations.GetConnectIntegrationByTokenTokenRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.GetConnectIntegrationByTokenTokenPositiveResponse,
    | errors.KomboGeneralError
    | KomboError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: KomboCore,
  request: operations.GetConnectIntegrationByTokenTokenRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.GetConnectIntegrationByTokenTokenPositiveResponse,
      | errors.KomboGeneralError
      | KomboError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.GetConnectIntegrationByTokenTokenRequest$outboundSchema.parse(
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    token: encodeSimple("token", payload.token, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/connect/integration-by-token/{token}")(pathParams);

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.api_key);
  const securityInput = secConfig == null ? {} : { api_key: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    base_url: options?.server_url ?? client._baseURL ?? "",
    operation_id: "GetConnectIntegrationByTokenToken",
    o_auth2_scopes: null,

    resolved_security: requestSecurity,

    security_source: client._options.api_key,
    retry_config: options?.retries
      || client._options.retry_config
      || { strategy: "none" },
    retry_codes: options?.retry_codes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.server_url,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.user_agent,
    timeout_ms: options?.timeout_ms || client._options.timeout_ms || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["default"],
    retryConfig: context.retry_config,
    retryCodes: context.retry_codes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    models.GetConnectIntegrationByTokenTokenPositiveResponse,
    | errors.KomboGeneralError
    | KomboError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(
      200,
      models.GetConnectIntegrationByTokenTokenPositiveResponse$inboundSchema,
    ),
    M.jsonErr("default", errors.KomboGeneralError$inboundSchema),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
