/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { KomboCore } from "../core.js";
import { encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { KomboError } from "../models/errors/komboerror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get employee form
 *
 * @remarks
 * Get the form for creating an employee. This form can be rendered dynamically on your frontend to allow your customers to create employees in their HRIS.
 *
 * Follow our [create employee guide here](/hris/features/create-employee) to learn how this form is generated and how you can use it.
 *
 * ### Example Form
 * ```json
 * {
 *   "properties": {
 *     "firstName": {
 *       "type": "text",
 *       "label": "First Name",
 *       "required": true,
 *       "description": "Employee's first name",
 *       "unified_key": "first_name",
 *       "min_length": 1,
 *       "max_length": 100
 *     },
 *     "startDate": {
 *       "type": "date",
 *       "label": "Start Date",
 *       "required": true,
 *       "description": "Employee's start date",
 *       "unified_key": "start_date"
 *     },
 *     "workLocation": {
 *       "type": "object",
 *       "label": "Work Location",
 *       "required": false,
 *       "description": "Employee's work location",
 *       "unified_key": null,
 *       "properties": {
 *         "site": {
 *           "type": "single_select",
 *           "label": "Site",
 *           "required": true,
 *           "description": "Employee's site",
 *           "unified_key": null,
 *           "options": {
 *             "type": "inline",
 *             "entries": [
 *               {
 *                 "label": "Site 1",
 *                 "id": "FXrER44xubBqA9DLgZ3PFNNx",
 *                 "unified_value": "1",
 *                 "remote_id": "site_1"
 *               },
 *               {
 *                 "label": "Site 2",
 *                 "id": "2rv75UKT2XBoQXsUb9agiTUm",
 *                 "unified_value": "2",
 *                 "remote_id": "site_2"
 *               }
 *             ]
 *           }
 *         },
 *         "keyNumbers": {
 *           "type": "array",
 *           "label": "Key Numbers",
 *           "required": false,
 *           "description": "Employee's key numbers",
 *           "unified_key": null,
 *           "min_items": 2,
 *           "max_items": 5,
 *           "item_type": {
 *             "type": "number",
 *             "label": "Key Number",
 *             "required": false,
 *             "description": "The number of the keys which belong to the employee",
 *             "unified_key": null,
 *             "min": 0,
 *             "max": 99
 *           }
 *         }
 *       }
 *     }
 *   }
 * }
 * ```
 */
export function hrisGetEmployeeForm(
  client: KomboCore,
  _request?: operations.GetHrisEmployeesFormRequest | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.GetHrisEmployeesFormPositiveResponse,
    | errors.KomboHrisError
    | KomboError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    _request,
    options,
  ));
}

async function $do(
  client: KomboCore,
  _request?: operations.GetHrisEmployeesFormRequest | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.GetHrisEmployeesFormPositiveResponse,
      | errors.KomboHrisError
      | KomboError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const path = pathToFunc("/hris/employees/form")();

  const headers = new Headers(compactMap({
    Accept: "application/json",
    "X-Integration-Id": encodeSimple(
      "X-Integration-Id",
      client._options.integration_id,
      { explode: false, charEncoding: "none" },
    ),
  }));

  const secConfig = await extractSecurity(client._options.api_key);
  const securityInput = secConfig == null ? {} : { api_key: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    base_url: options?.server_url ?? client._baseURL ?? "",
    operation_id: "GetHrisEmployeesForm",
    o_auth2_scopes: null,

    resolved_security: requestSecurity,

    security_source: client._options.api_key,
    retry_config: options?.retries
      || client._options.retry_config
      || { strategy: "none" },
    retry_codes: options?.retry_codes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.server_url,
    path: path,
    headers: headers,
    userAgent: client._options.user_agent,
    timeout_ms: options?.timeout_ms || client._options.timeout_ms || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["default"],
    retryConfig: context.retry_config,
    retryCodes: context.retry_codes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    models.GetHrisEmployeesFormPositiveResponse,
    | errors.KomboHrisError
    | KomboError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, models.GetHrisEmployeesFormPositiveResponse$inboundSchema),
    M.jsonErr("default", errors.KomboHrisError$inboundSchema),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
