name: SDK Generation

permissions: {}

on:
  workflow_dispatch:
    inputs:
      force:
        description: Force generation of SDKs
        type: boolean
        default: false
      set_version:
        description: Optionally set a specific SDK version
        type: string
  schedule:
    - cron: 0 0 * * *

jobs:
  get-token:
    runs-on: ubuntu-latest
    outputs:
      token: ${{ steps.app-token.outputs.token }}
    steps:
      - name: Generate token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.SDK_GENERATOR_GITHUB_APP_ID }}
          private-key: ${{ secrets.SDK_GENERATOR_GITHUB_APP_PRIVATE_KEY }}
      
      - name: Verify token was generated
        run: |
          if [ -z "${{ steps.app-token.outputs.token }}" ]; then
            echo "Error: Token was not generated"
            exit 1
          else
            echo "Token generated successfully"
          fi
  
  generate:
    needs: get-token
    runs-on: ubuntu-latest
    outputs:
      typescript_regenerated: ${{ steps.run-workflow.outputs.typescript_regenerated }}
      typescript_directory: ${{ steps.run-workflow.outputs.typescript_directory }}
      commit_hash: ${{ steps.run-workflow.outputs.commit_hash }}
      publish_type: ${{ steps.run-workflow.outputs.publish_type }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ needs.get-token.outputs.token }}
      
      - name: Checkout sdk-generation-action repository
        uses: actions/checkout@v4
        with:
          repository: speakeasy-api/sdk-generation-action
          ref: 788702f013dcd7b0716076b1ce4e5f19be009521
          path: _speakeasy
      
      - name: Run Generation Workflow
        id: run-workflow
        uses: ./_speakeasy
        with:
          speakeasy_version: latest
          github_access_token: ${{ needs.get-token.outputs.token }}
          mode: pr
          force: ${{ github.event.inputs.force }}
          speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
          openapi_doc_auth_token: ${{ secrets.OPENAPI_DOC_AUTH_TOKEN }}
          target: kombo-typescript
          enable_sdk_changelog: true
          set_version: ${{ github.event.inputs.set_version }}
      
      - name: Log Generation Output
        if: always()
        uses: ./_speakeasy
        with:
          speakeasy_version: latest
          github_access_token: ${{ needs.get-token.outputs.token }}
          action: log-result
          speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
        env:
          GH_ACTION_RESULT: ${{ job.status }}
          RESOLVED_SPEAKEASY_VERSION: ${{ steps.run-workflow.outputs.resolved_speakeasy_version }}
          GH_ACTION_VERSION: 788702f013dcd7b0716076b1ce4e5f19be009521
          GH_ACTION_STEP: ${{ github.job }}
  
  publish-npm:
    if: ${{ always() && !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled') && needs.generate.outputs.typescript_regenerated == 'true' }}
    name: Publish Typescript SDK
    runs-on: ubuntu-latest
    needs: [get-token, generate]
    defaults:
      run:
        working-directory: ${{ needs.generate.outputs.typescript_directory }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.generate.outputs.commit_hash }}
          token: ${{ needs.get-token.outputs.token }}
      
      - name: Checkout sdk-generation-action repository
        uses: actions/checkout@v4
        with:
          repository: speakeasy-api/sdk-generation-action
          ref: 788702f013dcd7b0716076b1ce4e5f19be009521
          path: _speakeasy
      
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"
      
      - name: Install dependencies
        run: npm install --ignore-scripts
      
      - name: Install bun
        run: npm rebuild bun
      
      - name: Publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          VERSION=$(npm pkg get version | tr -d '"')
          echo "Detected version: $VERSION"

          if [[ "$VERSION" == *"-"* ]]; then
            PRERELEASE=${VERSION#*-}
            TAG=${PRERELEASE%%.*}
            echo "Prerelease detected; publishing under dist-tag: $TAG"
            npm publish --tag "$TAG" --access public
          else
            echo "Official release detected; publishing under 'latest'"
            npm publish --access public
          fi
      
      - id: publish-event
        uses: ./_speakeasy
        if: always()
        with:
          github_access_token: ${{ needs.get-token.outputs.token }}
          action: publish-event
          speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
          target_directory: ${{ needs.generate.outputs.typescript_directory }}
          registry_name: "npm"
        env:
          GH_ACTION_RESULT: ${{ job.status }}
          GH_ACTION_VERSION: 788702f013dcd7b0716076b1ce4e5f19be009521
      
      - id: log-result
        uses: ./_speakeasy
        if: always()
        with:
          speakeasy_version: latest
          github_access_token: ${{ needs.get-token.outputs.token }}
          action: log-result
          speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
        env:
          GH_ACTION_RESULT: ${{ job.status }}
          GH_ACTION_VERSION: 788702f013dcd7b0716076b1ce4e5f19be009521
          GH_ACTION_STEP: ${{ github.job }}
          TARGET_TYPE: "sdk"
