name: SDK Generation

# We're using custom app authentication below, so we need no permissions.
permissions: {}

on:
  workflow_dispatch:
    inputs:
      force:
        description: Force generation of SDKs
        type: boolean
        default: false
      set_version:
        description: Optionally set a specific SDK version
        type: string
  schedule:
    - cron: 0 0 * * *

jobs:
  # We're using the "Kombo SDK Generator" GitHub App because this way, the
  # created PRs can trigger other workflows (specifically the test suite we
  # always want to run).
  #
  # See GitHub docs on limitation:
  # https://docs.github.com/en/actions/how-tos/write-workflows/choose-when-workflows-run/trigger-a-workflow-from-a-workflow
  #
  # See config of the app:
  # https://github.com/organizations/kombohq/settings/apps/kombo-sdk-generator
  get-token:
    runs-on: ubuntu-latest
    outputs:
      token: ${{ steps.app-token.outputs.token }}
    steps:
      - name: Generate token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
  
  generate:
    needs: get-token
    uses: speakeasy-api/sdk-generation-action/.github/workflows/workflow-executor.yaml@v15
    with:
      enable_sdk_changelog: true
      force: ${{ github.event.inputs.force }}
      mode: pr
      set_version: ${{ github.event.inputs.set_version }}
      speakeasy_version: latest
      target: kombo-typescript
    secrets:
      github_access_token: ${{ needs.get-token.outputs.token }}
      npm_token: ${{ secrets.NPM_TOKEN }}
      openapi_doc_auth_token: ${{ secrets.OPENAPI_DOC_AUTH_TOKEN }}
      speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
